@model WitPartsModel

@{
    ViewData["Title"] = "Parts";
}

<h2>Car With Her Parts</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Make
            </th>
            <th>
                Model
            </th>
            <th>
                Travelled Distance
            </th>
            <th>
                Parts
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model.Car)
        {
            <tr>
                <td>
                    @car.Make
                </td>
                <td>
                    @car.Model
                </td>
                <td>
                    @car.TravelledDistance
                </td>
                <td>
                    <ul>
                        @foreach (var part in car.Parts)
                        {
                            <li>
                                @part.Name - $@part.Price.ToString("F2")
                            </li>
                        }
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>

